<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consultation</title>
    <link type="text/css" rel="stylesheet" href="/static/style/stylecss.css">
</head>
<body style="background-color: #bbe8e7">
<br><h2>Affichage des enregistrements</h2>
<h2> effctués lors des dernières reconnaissances</h2>
Nous avons dans cette partie la liste des enregistrements
   <div class="container">
      <br><br> <h2>Listes des enregistrements</h2><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="table-responsive">
            <table border="1" align="center" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Id de notes</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for donnees in show_datas %}
                    <tr>
                        <td>{{ donnees.id }}</td>
                        <td>{{ donnees.donnees }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
   </div>
</body>
</html>